<div>
	<h1><%= @albums.count == 0 ? @user.first_name + " has no albums to show" : @user.first_name+"'s has " + @albums.count + " albums"%></h1>

	<div>
	<% @albums.each do |album| %>
		<div class="jumbotron">
			<h1 class="display-3"><%= album.caption %></h1>
			<p class="lead">
				<%= link_to "Show Album",profile_album_path(album) %>
			</p>
		</div>
	<% end %>	
	</div>
</div>