<div>
	<h1><%= @posts.count == 0 ? @user.first_name + " has no posts to show" : @user.first_name+"'s has " + @posts.count + " posts"%></h1>

	<div>
		<% @posts.each do |post| %>
			<div class="jumbotron">
				<h1 class="display-3"><%= post.title %></h1>
				<p class="lead"><%= post.body %></p>
			</div>
		<% end %>
	</div>
</div>